.footer {
  background-color: rgba(30, 70, 78, 0.668);
  color: var(--light);
  padding: 2rem 1rem;
  text-align: center;
  font-family: var(--font-body);
  margin-top: 3rem !important;
}

.footer a {
  color: var(--primary);
  text-decoration: none;
  font-weight: 500;
}

.footer a:hover {
  text-decoration: underline;
}

.footer-content p {
  margin: 0.5rem 0;
}

.footer-copy {
  font-size: 0.85rem;
  margin-top: 1rem;
  color: rgba(255, 255, 255, 0.7);
}
